@model MyBlog.Model.ArticleInfo
@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div class="am-u-md-8">
        <article class="am-article">
            <div class="am-article-hd">
                <h1 class="am-article-title">@Model.ArticleTitle</h1>
                <p class="am-article-meta">
                    by <a href="@Url.Action("Detial", "ArticleInfo")?id=@Model.Id">@Model.UserInfo.UNickName</a> posted on @Model.PubTime.ToString() under <a href="#">@Model.ArticleType.Title</a>
                </p>
            </div>

            <div class="am-article-bd">
                <div class="am-article-lead"> @Html.Raw(Model.ArticleContent)</div> 
            </div>
        </article>
    <hr>
  
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="@Model.Id" data-title="@Model.ArticleTitle" data-url="@Request.Url"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = { short_name: "anneke" };
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
</div>
<div style="margin-top:88px">
    @{
        Html.RenderAction("GetRightView", "Home");
    }
</div>
<link href="~/Scripts/kindeditor/plugins/code/prettify.css" rel="stylesheet"/>
<script src="~/Scripts/kindeditor/plugins/code/prettify.js"></script>
<script>
    $(function() {
        prettyPrint();
    });
</script>
